{% extends 'shared/layout.html' %}
{% block maincontent %}


<body>
    <main>
        <!-- Two columns about me -->
        <div class="about-container">
            <!-- Photo -->
            <div class="about-photo">
                <img src="/static/main/images/team-photo.jpg" alt="Chinenye Nwogu" loading="lazy">
            </div>
    
            <!-- Description -->
            <div class="about-text">
                <h1>CJ Nwogu</h1>
                <p class="description">
                is a computer science senior at Michigan State University with a preference of software engineering. With experience in embedded software development, he is seeking full-time employment in industry.
                </p>
            </div>
        </div>
    
        <!-- Fun fact -->
        <div class="fun-fact">
            <h2>A fun fact about me</h2>
            <p>{{fun_fact}}</p>
        </div>
    </main>

    
    <!-- Script to hide navbar behind menu icon -->
    <script src="/static/main/js/navbar.js"></script>
</body>
</html>
{% endblock %}