{% extends 'shared/layout.html' %}
{% block maincontent %}

<body>

    <main>
        <!-- Projects summary-->
        <div class="projects-intro">
            <h1>These are some of my projects</h1>
        </div>

        <!-- Piano project information / two columns about my project -->
        <div class="projects-container">
            <div class="piano-image">
                <a href="/piano">
                    <img src="/static/main/images/piano.jpeg" alt="Piano" loading="lazy">
                </a>
            </div>
            <div class="projects-information">
                <h2>Piano</h2>
                <p>I developed a piano web app using Javascript, HTML, and CSS.</p>
                <a href="/piano" class="projects-link">Click here</a>
            </div>
        </div>
        
    </main>

    <footer>
        <!-- Copyright -->
        <p class="copyright"> © Chinenye Nwogu</p>
    </footer>
    
    <!-- Script to make navbar responsive -->
    <script src="/static/main/js/navbar.js"></script>
    <!-- Script to make piano interactive-->
    <script src="/static/piano/js/piano.js"></script>

    <a href="{{ url_for('static', filename='main/files/resume.pdf') }}" download>
    <button type="button">Download Full Resume</button>
    </a>
</body>
</html>
{% endblock %}