<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piano</title>
    <link rel="stylesheet" href="/static/main/css/header.css"> <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="/static/main/css/navbar.css">
    <link rel="stylesheet" href="/static/main/css/main.css">
    <link rel="stylesheet" href="/static/main/css/footer.css">
    <link rel="stylesheet" href="/static/piano/css/piano.css">
</head>
<body>
    <!-- Header -->
    <header class="banner">
    </header>

    <!-- Site navigation bar-->
    <nav class="navbar">
        <div class="nav-title">CSE 482 - Homework 1</div>
        
        <!-- Hamburger menu -->
        <div class="menu-icon">
            <img src="/static/main/images/menu-bar.png" alt="hamburger" loading="lazy">
        </div>
    
        <!-- Navbar links -->
        <ul class="nav-links">
            <li><a href="home.html">Home</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="resume.html">Resume</a></li>
            <li>
                <!-- LinkedIn icon for when the screen is big enough otherwise text-->
                <a class="linkedin" href="https://www.linkedin.com/in/chinenye-nwogu-190615222/" target="_blank">
                    <img class="linkedin-icon" src="/static/main/images/social-linkedin.png" alt="LinkedIn" loading="lazy">
                    <span class="linkedin-text">LinkedIn</span>
                </a>
            </li>
        </ul>
    </nav>

    <main>
        <!-- The poem -->
        <div class="poem">
            <h1>Behold piano great and old, it's master slumbers in far off cold, If you wish to see anew, call out to it - we see you.</h1>
        </div>

        <!-- Piano -->
        <section class="piano-container">
            <h2 class="great">The Great Old One</h2>
            <div class="piano">
                <!-- White keys in order-->
                <div class="white-key" data-key="KeyA"></div> 
                <div class="white-key" data-key="KeyS"></div> 
                <div class="white-key" data-key="KeyD"></div> 
                <div class="white-key" data-key="KeyF"></div> 
                <div class="white-key" data-key="KeyG"></div> 
                <div class="white-key" data-key="KeyH"></div> 
                <div class="white-key" data-key="KeyJ"></div> 
                <div class="white-key" data-key="KeyK"></div> 
                <div class="white-key" data-key="KeyL"></div> 
                <div class="white-key" data-key="Semicolon"></div>

                <!-- Black keys in order-->
                <div class="black-key" id="b1" data-key="KeyW"></div> 
                <div class="black-key" id="b2" data-key="KeyE"></div> 
                <div class="black-key" id="b3" data-key="KeyT"></div> 
                <div class="black-key" id="b4" data-key="KeyY"></div> 
                <div class="black-key" id="b5" data-key="KeyU"></div> 
                <div class="black-key" id="b6" data-key="KeyO"></div> 
                <div class="black-key" id="b7" data-key="KeyP"></div> 
            </div>
        </section>

    </main>

    <footer>
        <!-- Copyright -->
        <p class="copyright"> © Chinenye Nwogu</p>
    </footer>
    
    <!-- Script to make navbar responsive-->
    <script src="/static/main/js/navbar.js"></script>
    <!-- Script to make piano interactive-->
    <script src="/static/piano/js/piano.js"></script>
</body>
</html>