<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/static/main/css/header.css"> <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="/static/main/css/navbar.css">
    <link rel="stylesheet" href="/static/main/css/main.css">
    <link rel="stylesheet" href="/static/main/css/footer.css">
</head>
<body>
    <!-- Header -->
    <header class="banner">
    </header>

    <!-- Site navigation bar-->
    <nav class="navbar">
        <div class="nav-title">CSE 482 - Homework 1</div>
        
        <!-- Hamburger menu -->
        <div class="menu-icon">☰</div>
    
        <!-- Navbar Links -->
        <ul class="nav-links">
            <li><a href="home.html">Home</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="resume.html">Resume</a></li>
            <li>
                <a class="linkedin" href="https://www.linkedin.com/in/chinenye-nwogu-190615222/" target="_blank">
                    <img class="linkedin-icon" src="/static/main/images/social-linkedin.png" alt="LinkedIn">  <!-- Use an icon here -->
                    <span class="linkedin-text">LinkedIn</span> <!-- Text for smaller screens -->
                </a>
            </li>
        </ul>
    </nav>

    <main>
        <div class="projects-intro">
            <h1>These are some of my projects</h1>
        </div>
        <div class="projects-container">
            <div class="piano-image">
                <a href="piano.html">
                    <img src="/static/main/images/piano.jpeg" alt="Piano">
                </a>
            </div>
            <div class="projects-information">
                <h2>Piano</h2>
                <p>I developed a piano web app using javascript</p>
                <a href="piano.html" class="projects-link">Click here</a>
            </div>
        </div>
        
    </main>

    <footer>
        <p class="copyright"> © Chinenye Nwogu</p>
    </footer>
    
    <script src="/static/main/js/navbar.js"></script>
    <script src="/static/piano/js/piano.js"></script>
</body>
</html>