<!-- FILL ME IN WITH CODE FOR YOUR PAGE LAYOUT -->
<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CJ Nwogu's personal page</title>
  <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/main.css') }}">
  <link rel="stylesheet" href="/static/main/css/header.css">
  <link rel="stylesheet" href="/static/main/css/navbar.css">
  <link rel="stylesheet" href="/static/main/css/footer.css">
  <link rel="stylesheet" href="/static/main/css/main.css">
  <link rel="stylesheet" href="/static/main/css/chat.css">
  <link rel="stylesheet" href="/static/main/css/feedback.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='main/images/favicon.ico') }}">
  {% block extracss %}{% endblock %}
  <script src="/static/main/js/main.js" defer></script>
  {% block extrajs %}{% endblock %}
</head>

<body>
  <div class="page-wrapper">
    <!-- Header -->
    <header class="banner">
    </header>

    <!-- Site navigation bar-->
    <nav class="navbar">
      <div class="nav-title">
        {% if user %}
            <p>Logged in as {{ user }}</p>
        {% else %}
            <p>CJ Nwogu</p>
        {% endif %}
      </div>
        <!-- Hamburger menu -->
        <div class="menu-icon">
            <img src="/static/main/images/menu-bar.png" alt="hamburger" loading="lazy">
        </div>
    
        <!-- Navbar links -->
        <ul class="nav-links">
            <li><a href="/home">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/resume">Experience</a></li>
            <li>
                <a class="linkedin" href="https://www.linkedin.com/in/chinenye-nwogu-190615222/" target="_blank">
                    <img class="linkedin-icon" src="/static/main/images/social-linkedin.png" alt="LinkedIn" loading="lazy">
                    <span class="linkedin-text">LinkedIn</span>
                </a>
            </li>
        </ul>
    </nav>

      <article>

        <!-- The main content  -->
        <main>
          {% block maincontent %}{% endblock %}
        </main>

        <!-- The footer of the file -->
        <footer>
          <!-- Contact links -->
          <div class="contact-links">
            <a href="mailto:chinenyejnwogu@gmail.com">
              <img class="email-icon" src="/static/main/images/social-gmail.png" alt="Email" loading="lazy">
            </a>

            <a href="https://github.com/cjnw" target="_blank">
              <img class="github-icon" src="/static/main/images/social-github.png" alt="GitHub" loading="lazy">
            </a>

            <a href="https://www.linkedin.com/in/chinenye-nwogu-190615222/" target="_blank">
              <img class="linkedin-bottom-icon" src="/static/main/images/social-linkedin.png" alt="LinkedIn" loading="lazy">
            </a>
          </div>
            <p>© 2025 Chinenye Nwogu</p>
        </footer>
      </article>
  </div>
</body>

</html>








